body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.book-details__page {
  width: 100%;
}

.book-list__container,
.book-details__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.book-list__card,
.book-details__card {
  text-align: center;
  width: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-list__title,
.book-details__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.book-details__authors {
  font-size: 1.25rem;
  font-weight: bold;
}

.book-details__downloads {
  display: flex;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  text-decoration: underline;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}